issues/
.commandcode
.claude/
backend\internal\modules\feed\optimization.md

# SPA
spa/node_modules/
spa/dist/
spa/.env
spa/.env.local
spa/routes.md
spa/implementation-plan.md

#backend
backend/.env 
.env
/google/
/fail2ban/
/docs/ 
backend/firebase-service-account.json
.claude/
.cursor/
